body {
    background-color: #FFE943;
    font-family: Righteous, sans-serif;
}

header {
    text-align: center;
    align-items: center;
    display: flex;
    position: relative;
    padding: 0px 10px;
    justify-content: space-between;
}

.pokemon {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.download img {
    transform: translateY(25%);
}
.download button {
    padding: 15px 15px;
    background-color: white;
    border-radius: 30px;
    border: 0;
    margin-left: 15px;
    box-shadow:2px 2.5px 2.5px;
}

h2 {
    color: white;
    font-size: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    z-index: -999;
    position: absolute;
    transform: translate(-50%, -45%);
}

main {
    padding: 20vh;
}

.container {
    align-items: center;
    padding: 25vh;
    display: block;
}

.pikachu {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -55%);
    z-index: 900;
}

.click a {
    display: flex;
    align-items: center;
    display: end;
}

footer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-weight: 100;
    padding: 0px 15px;
}